.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Login {
  /* text-align: center; */
  /* padding: 0 100px; */
  height: 100vh;
}

.Login-section {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Login-input {
  /* width: 100%; */
  /* padding: 20px 26px; */
  border: 1px solid #BDBCBC;
  border-radius: 8px;
  /* font-style: normal; */
  /* font-weight: 400; */
  /* font-size: 15px; */
  margin-bottom: 32px;
}

.Login-btn {
  width: 45ch;
  padding: 16px 0;
  background-color: #3E76FF;
  box-shadow: 0px 4px 61px rgba(62, 118, 255, 0.4);
  border-radius: 9px;
  color: #FFFFFF;
  font-size: 16px;
  border: none;
  /* line-height: 24px; */
}

.Login-btn:hover {
  width: 45ch;
  padding: 16px 0;
  background-color: #1153f9;
  box-shadow: 0px 4px 61px rgba(62, 118, 255, 0.4);
  border-radius: 9px;
  color: #FFFFFF;
  font-size: 16px;
  border: none;
  /* line-height: 24px; */
}

.Details-btn {
  width: 30ch;
  padding: 12px 0;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.11), 0px 2px 4px -1px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  color: #3E76FF;
  font-size: 12px;
  border: none;
  font-weight: 700;
  /* line-height: 24px; */
}

.Details-btn:hover {
  background-color: #f9f9f9;
  /* line-height: 24px; */
}

#root {
  background: #F8F9FA;
  padding-right: 12px;
}

#outlined-adornment-search {
  padding: 8px;
}

.background-sidebar-image {
  background: url('./img/sidebar-image.png') repeat;
  height: inherit;
}

.box-sidebar-image {
  background: linear-gradient(310deg, rgba(62, 118, 255, 0.65) 0%, rgba(170, 195, 254, 0.65) 100%);
  opacity: rgba(3, 172, 240, 0.8);;
  height: inherit;
  text-align: center;
  padding-top: 16px;
}